
<header>
  <nav class="navbar navbar-dark">
    
    <div id="logo">
      <img src="/docs/l.png" alt="L" class="d-inline-block">
      <a class="navbar-brand" id="logo-text" href="/">OGO HERE</a>
      <a class="messages link" href="/messages"></a>
      
    </div>
    
   
      <% if(user){ %>
    <div class="user-div">
      <a href="/inbox">
        <button class="inbox">INBOX</button>
      </a>
      <form class="user-name" method="POST" action="/logout">
        <div id="logged-in" class="logged-in">
          <div>
            <button class="btn btn-warning" type="button" onclick="location.href='/favourites'">Your Favourites</button>
            <a id="logged-a" href="/user">Logged in as: <%= user %></a>
          </div>
          <button class="logout">Logout</button>
        </div>

      </form>

      <% } else { %>
        <div>
          <a class="nav-item" href="/register">Register</a>
          <a class="nav-item" href="/login">Login</a>
        </div>
    </div>
    <% } %>
  </nav>
</header>
