<Header>
  <nav class="navbar">
    <div>
      <a class="navbar-brand" href="/">THE Market Place</a>
      <a class="messages link" href="/messages"></a>
    </div>
    <div>
      <a class="nav-item nav-link" href="/register">Register</a>
      <a class="nav-item nav-link" href="/login">Login</a>
    </div>
  </nav>
</Header>
