
<header>
  <nav class="navbar">

    <div>
      <a class="navbar-brand" href="/">LOGO HERE</a>
      <a class="messages link" href="/messages"></a>
    </div>
    <a class="navbar-brand" href="/">THE Market Place</a>

      <% if(user){ %>
    <div class="user-div">
      <form class="user-name" method="POST" action="/logout">
        <h5>Logged in as: <%= user%></h5>
        <button>Logout</button>
      </form>

      <% } else{ %>
        <div>
          <a class="nav-item nav-link" href="/register">Register</a>
          <a class="nav-item nav-link" href="/login">Login</a>
        </div>
    </div>
    <% } %>
  </nav>
</header>
