<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <!-- FONT AWESOME LINK -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- google font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <!--
      ****************************************************************************
      EXTERNAL STYLE SHEETS
      ******************************************************************************-->
      <!-- Bootstrap -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
      <!-- LAYOUT CSS CSS-->
      <link rel="stylesheet" href="/styles/layout.css" />
      <!-- MAIN CSS-->
      <link rel="stylesheet" href="/styles/index-main.css" />
      <!-- HEADER CSS-->
      <link rel="stylesheet" href="/styles/header.css" />
      <!-- ITEM CSS-->
      <link rel="stylesheet" href="/styles/item.css" />

      <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
      <link rel="stylesheet" href="/vendor/border-box.css" />


</head>


<!-- BODY -->
<body>
  <header>
    <%- include('partials/_header') %>
  </header>

  <!-- MAIN CONTENT HERE -->
  <main>
    <!-- THE FILTER SECTION -->
    <aside class="filter">
      <button class="filter-btn btn btn-success">Filter/Sort</button>

      <section class="search_box">
        <form class="sort-filter-by">
          <div class="filter-by">
            <span>filter by:</span><br>
            <div>
              <label for="filter-by-seller">seller: </label>
              <input type="text" id="filter-by-seller" name="filter-by-seller">
            </div><br>
            <div>
              <label for="filter-by-min-price">minimum price: $</label>
              <input type="text" id="filter-by-min-price" name="filter-by-min-price">
            </div><br>
            <div>
              <label for="filter-by-max-price">maximum price: $</label>
              <input type="text" id="filter-by-max-price" name="filter-by-max-price">
            </div><br>
            <div>
              <label for="filter-by-sort">DESC:</label>
              <input type="checkbox" id="filter-by-sort" name="filter-by-sort" value="true">
            </div><br>
            <button type="submit" id="filter_by" name="filter_by">Filter</button>
          </div>
        </form>

          <div class="sort-by">
            <span>sort by:</span>
            <div id="button-holder">
              <div>
                <button type="button" id="sort-by-featured" name="sort_by">Featured</button>
              </div>

              <div>
                <button type="button" id="sort-by-newest" name="sort_by">Newest</button>
              </div>

              <div>
                <button type="button" id="sort-by-lowest" name="sort_by" value="Lowest">Price (Low to High)</button>
              </div>

              <div>
                <button type="button" id="sort-by-highest" name="sort_by" value="Highest">Price (High to Low)</button>
              </div>
            </div>
          </div>

      </section>
    </aside>

    <!-- ITEMS ARE DISPLAYED HERE-->
    <section class="items-section">
    </section>

  </main>
  <!--
  ****************************************************************************
    JS SCRIPTS
  ******************************************************************************-->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/index_jquery.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>

</html>
