<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>

    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

<!--
  ****************************************************************************
    EXTERNAL RESOURCES
  ******************************************************************************-->

<!-- FONT AWESOME LINK -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--
****************************************************************************
  EXTERNAL STYLE SHEETS
******************************************************************************-->
  <!-- LAYOUT CSS CSS-->
  <link rel="stylesheet" href="/styles/layout.css" />
  <!-- MAIN CSS-->
  <link rel="stylesheet" href="/styles/register.css" />
  <!-- HEADER CSS-->
  <link rel="stylesheet" href="/styles/header.css" />
  <!-- ITEM CSS-->
  <link rel="stylesheet" href="/styles/item.css" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />

<!--
****************************************************************************
  JS SCRIPTS
******************************************************************************-->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

  </head>
<body>
  <header>
    <%- include('./partials/_header.ejs'); %>
  </header>

  <main>

    <section class="register-section">
      <h2 class="register-heading">Register</h2>
      <form method="post" action="/register">
        <div class="email-input">
          <div >
            <h5>New Email address</h5>
            <input
                  class="form-control"
                  type="email"
                  name="email"
                  placeholder="Enter a new email"
                  style="margin-bottom: 1em"
            />
          </div>

          <div >
            <h5>Enter a new password</h5>
            <input
                  class="form-control"
                  type="password"
                  name="password"
                  placeholder="Enter a new password"
                  style="margin-bottom: 1em"
            />
          </div>
          <button class="register-submit" type="submit">register</button>
        </div>
      </form>
    </section>

  </main>

</body>
</html>
