$nav-font: 'Josefin Sans', sans-serif;
$success: #198754;
$danger:  #ffc107;
$btn-round: 0.3rem;

$the-font: Arial, sans-serif;
$royal-blue: #2F6494;
$highlight-yellow: #FFDA7C;
$black: #111111;
$white: #FFFFFF;
