@import 'variables';
@import 'mixins';

.your-items{
  @include flex($d: column, $i: center);
  margin-top: 110px;

  .latest-message {
    border: 2px solid black;
    border-radius: $btn-round;
    width: 70%;
  }

  .profile-pic {
    border-radius: 50%;
  }

  .item-img {
    margin: 20px;
    max-width: 200px;
  }
 }
