@import 'mixins';

.item {
  @include flex($c: space-between);
  border: 2px solid black;

  .sub-sect1 {
    @include flex($d: column, $i:center);

    .seller-info {
      @include flex($i: center);

      img {
        margin:1em;
        background-color: gray;
        height:60px;
        width: 60px;
      }
    }

    .item-img{
      background-color: gray;
      height:100px;
      width: 100px;
      text-align: center;
    }
  }

  .sub-sect2 {
    @include flex($d: column,$c:center, $i:center);
  }

  .sub-sect3 {
    @include flex($d: column,$c:flex-end , $i:center);
    color: yellow;
    margin: 1em;
  }
}


