@import 'mixins';
@import 'variables';

.login-section {
  @include flex($d: column, $c: center, $i: center);
  margin-top: 110px;

  h2 {
    font-size: 25px;
  }

  .error{
    display: none;
    padding: 0 0.4em;
    color: red;
  }

  .login-submit {
    width: 100%;
    border: 2px solid black;
    border-radius: $btn-round;
    background-color: royalblue;
    color: white
  }
}
