@import 'mixins';
@import 'variables';

main {
  height: 2000px;

  aside {
    @include flex($d: column, $c: center,$i:center);
    text-align: center;
    button {
      margin-top: 100px;
      width: 60%;
      outline: none;
      background-color: $danger;
      border-color: $success;
      border-radius: .3rem;
    }

    section {
      margin: 1em;
      padding: 1em;
      width: 40%;
      border: 1px solid black;

      form {
        @include flex($c:space-around);

        .filter-by {
          @include flex($d: column, $c: flex-start,$i: flex-end);

          span {
            align-self: center;
            margin: 1em;
          }
        }

        .sort-by {
          @include flex($d: column,$c: flex-start, $i:flex-end);


          span {
            align-self: center;
            margin: 1em;
          }
        }
      }
    }
  }

  .items-section {
    @include flex($d: column, $c: center,$i:center);
    margin-top: 1em;
  }
}
