@import 'mixins';

main {
  height: 2000px;
  @include flex($c: center);

  aside {
    text-align: center;
    button {
      margin-top: 100px;
      width: 60%;
    }
  }

  .items-section {
    @include flex($d: column, $c: center);
  }
}
