@import 'variables';
@import 'mixins';

.post-item-section {

  margin-top: 110px;

  h2 {
    text-align: center;
  }

  .post-item-form {
    @include flex($d: column,$c: center,$i: center);

    .headings{
      @include flex($c: space-around);

      .item-name, .img-url, .price {
        @include flex($d: column,$i: center);
        padding: 0 5%;
        margin:0 1em;
      }

      .type {
        @include flex($d: column,$i: center);
        padding: 0 5%;
        margin:0 1em;

        button {
          border: 2px solid black;
          border-radius: $btn-round;
          font-family: "Bungee", cursive;
          background-color: green;
          color: white;
        }

        button:hover {
          background-color: gray;
          color: black;
        }

        .options {
          display: none;
        }
      }
    }

    .description {
      text-align: center;
      width:70%;
      height: 50vh;
      border-radius: 15px;
    }

    .post-item {
      width:70%;
      border: 2px solid black;
      border-radius: $btn-round;
      font-family: "Bungee", cursive;
      background-color: royalblue;
      color: white;
      font-size: large;
    }

    .post-item:hover {
      background-color: gray;
      color: black;
    }
  }


}


  


