@import 'mixins';
@import 'variables';

.register-section {
  @include flex($d: column, $c: center, $i: center);
  margin-top: 110px;


  h2 {
    font-size: 25px;
  }

  form {
    h5 {
      text-align: start;
    }
  }

  .userName-password {
    @include flex;
    div {
      margin:0 1em;

      .error{
        text-align: center;
        display: none;
        padding: 0 0.4em;
        color: red;
      }
    }

  }

  .firstName-lastName {
    @include flex;
    div {
      margin:0 1em;
    }
  }

  .about {
    @include flex($c: space-around);

    div {
      @include flex($d: column,$i: flex-start)
    }

  }

  .about-me {
    @include flex($d: column,$i: center);
    textarea {
      text-align: center;
      width: 100%;
      height: 30vh;
    }
  }

  .register-submit {
    font-family: "Bungee", cursive;
    width: 100%;
    border: 2px solid black;
    border-radius: $btn-round;
    background-color: royalblue;
    color: white;

  }

  .register-submit:hover {
    background-color: gray;
    color: black;
  }
}
