@import 'variables';
@import 'mixins';

.your-items {
  @include flex($d: column, $c: center, $i: center);
  margin-top: 110px;

  .post-item {


    button {
      border: 2px solid black;
      border-radius: $btn-round;
      height: 80px;
      width: 200px;
      background-color: red;
      color: white;
      margin-bottom: 70px;
    }
  }

  .profile {
    @include flex($c: space-between,$i: center);
    width: 60%;
    img {
      background-color: gray;
      height: 200px;
      width: 200px;
      text-align: center;
    }

    div {
      @include flex($d: column, $i: center);

      .about{

        .update-form {
          width: 500px;
          display: none;

          textarea {
            width: 500px;
            height: 10vh;
            border: 1px solid;
          }

          button {
            width: 100%;
            border: 2px solid black;
            border-radius: $btn-round;
            background-color: greenyellow;
          }

        }

        .update-div {
          width: 500px;
          article {
            width: 500px;
            height: 10vh;
            border: 1px solid;
            text-align: center;
          }

          button {
            width: 100%;
            border: 2px solid black;
            border-radius: $btn-round;
            background-color: greenyellow;
          }
        }



      }
    }

  }

  .listing {
    @include flex($d: column, $i: center);
    width: 70%;
    div {
      @include flex($c: center);

      .delete, .sold {
        border: 2px solid black;
        border-radius: $btn-round;
        background-color: red;
      }

    }





  }
}
